<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.huangxunyi.mapper.TestMapper">

    <select id="getLog" resultType="com.huangxunyi.Log">
        select * from log where id = #{id}
    </select>

    <select id="getAll" resultType="com.huangxunyi.Log">
        select * from log
    </select>

    <update id="updateLog">
        update log set message = '#{message}' where id = #{id}
    </update>

    <insert id="insertLog">
        insert into log values (#{id},#{},#{},#{},#{},#{})
    </insert>

</mapper>